.loginpage {
    width: 350px;
    margin: 0 auto;
    padding-top: 40px;
}


.center-image {
    display: block;
    margin: 0 auto 20px auto;
    width: 150px;
}


.label {
    display: block;
    font-size: 16px;
    color: white;
    margin-bottom: 5px;
    margin-top: 15px;
}


.input-box {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #003f5f;
    background-color: #00365a;
    color: white;
    font-size: 16px;
    box-sizing: border-box;
}

.tickbox{
    color: white
}

.forgetpassword{
    color: white
}

.options {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.login-btn {
    width: 100%;
    padding: 12px;
    margin-top: 20px;

    background-color: #00a9ff;
    color: white;

    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;

    text-transform: uppercase;
    letter-spacing: 1px;
}


body {
    background: linear-gradient(135deg, #0b6cb8, #043a6b);
}