.title {
  font-family: Calibri, Arial;
  font-weight: bold;
  color: #0b3c5d;
  text-align: center;
}

.intro {
  font-family: Calibri, Arial;
  color: grey;
  text-align: center;
}

.skills {
  font-family: Calibri, Arial;
  font-weight: bold;
  color: #0b3c5d;
  text-align: center;
}

.list {
  font-family: Calibri, Arial;
  color: grey;
  text-align: center;
  list-style-position: inside;
  padding-left: 0;
}

.button {
  text-align: center;
  font-family: Calibri, Arial;
  font-weight: bold;
}

.button button {
  background-color: #b3d9ff;
  color: #043657;
  padding: 10px 20px;
  font-family: Calibri, Arial;
  font-weight: bold;
}

body {
  background-color: #f9e6ee;
}